<div class="l-grid">
  {% include '@components/container/c-container.twig'
    with {
      'title': 'Super Mario Galaxy 2',
      'platform': 'Wii',
      'year': '2010',
      'image': '<img src="/images/mario.jpg" style="width: 100%; image-rendering: pixelated; margin-bottom: 1rem; border: 5px dashed;" />',
      'body': "<p>Super Mario Galaxy 2 is a platform video game developed and published by Nintendo for the Wii.</p>"
    }
  %}
  {% include '@components/container/c-container.twig'
    with {
      'title': 'Super Mario Galaxy 2',
      'platform': 'Wii',
      'year': '2010',
      'image': '<img src="/images/mario.jpg" style="width: 100%; image-rendering: pixelated; margin-bottom: 1rem; border: 5px dashed;" />',
      'body': "<p>Super Mario Galaxy 2 is a platform video game developed and published by Nintendo for the Wii.</p>"
    }
  %}
  {% include '@components/container/c-container.twig'
    with {
      'title': 'Super Mario Galaxy 2',
      'platform': 'Wii',
      'year': '2010',
      'image': '<img src="/images/mario.jpg" style="width: 100%; image-rendering: pixelated; margin-bottom: 1rem; border: 5px dashed;" />',
      'body': "<p>Super Mario Galaxy 2 is a platform video game developed and published by Nintendo for the Wii.</p>"
    }
  %}
  {% include '@components/container/c-container.twig'
    with {
      'title': 'Super Mario Galaxy 2',
      'platform': 'Wii',
      'year': '2010',
      'image': '<img src="/images/mario.jpg" style="width: 100%; image-rendering: pixelated; margin-bottom: 1rem; border: 5px dashed;" />',
      'body': "<p>Super Mario Galaxy 2 is a platform video game developed and published by Nintendo for the Wii.</p>"
    }
  %}
</div>